# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\SD-39-GearVn\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
